.button {
  background-color: var(--spice-button);
  color: var(--spice-text);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.button:hover {
  background-color: var(--spice-button-active);
}

.secondary {
  background-color: var(--spice-main-elevated);
}

.secondary:hover {
  background-color: var(--spice-highlight);
}

.hr {
  border: none;
  border-top: 1px solid var(--spice-highlight-elevated);
  width: 100%;
  margin: 0.5rem 0;
}

.switch {
  position: relative;
  appearance: none;
  background-color: var(--spice-tab-active);
  border-radius: 1.5rem;
  height: 1.5rem;
  width: 2.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  flex-shrink: 0;
}

.switch::after {
  content: "";
  position: absolute;
  background-color: var(--spice-subtext);
  border-radius: 100%;
  height: 1.125rem;
  width: 1.125rem;
  left: 0.1875rem;
  top: 0.1875rem;
  transition: all 0.3s ease;
}

.switch:hover {
  background-color: var(--spice-button-disabled);
}

.switch:checked {
  background-color: var(--spice-button);
}

.switch:checked::after {
  left: 1.4375rem;
  background-color: var(--spice-main);
}

.switch:checked:hover {
  background-color: var(--spice-button-active);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer label {
  color: var(--spice-subtext);
  margin-bottom: 0.25rem;
}

.inputContainer input,
.quickConnectBox {
  background-color: var(--spice-main-elevated);
  color: var(--spice-text);
  border: 1px solid var(--spice-card);
  padding: 0.5rem 0.6rem;
  font-size: 0.95rem;
  transition: 200ms border-color;
  border-radius: 0.35rem;
}

.inputContainer input:focus {
  border-color: var(--spice-button);
}

.inputContainer input::placeholder {
  color: var(--spice-subtext);
  opacity: 0.5;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--spice-subtext);
}

.quickConnectWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.25rem;
  height: 2.5rem;
}

.quickConnectInput {
  background-color: transparent !important;
  border-color: transparent !important;
  color: transparent !important;
  position: absolute;
  inset: 0;
  z-index: 5;
}

.quickConnectBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0;
}

.loggedIn {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.setting {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--spice-highlight);
  border-radius: 0.5rem;
}

.settingInfo h2 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--spice-text);
  margin: 0 0 0.25rem 0;
}

.settingInfo p {
  font-size: 0.875rem;
  color: var(--spice-subtext);
  margin: 0;
}

.setting select {
  margin-left: auto;
  flex-shrink: 0;
  width: fit-content;
  padding-inline: 12px 6px;
}
